/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-white-light: rgba(255, 255, 255, 0.2);
  --basic-white-low: rgba(255, 255, 255, 0.4);
  --basic-white-middle: rgba(255, 255, 255, 0.8);
  --basic-black: #323232;
  --basic-gray: #5A5A5A;
  --basic-gray-light: #F8F7F4;
  --basic-red-light: #FBDED7;
  --basic-blue: #1E90FF;
  --basic-blue-dark: rgba(46, 136, 228, 0.52);
  --basic-red-dark: #D07058;
  --basic-red-middle: #F6B5A5;
  --basic-orange: #FFBC9E;
  --basic-red: #E84D37;
  --basic-green-main: rgba(132, 157, 143, 1);
  --basic-gray-main: rgba(137, 150, 166, 1);
  --basic-brown-main: rgba(157, 139, 132, 1);
  /*Gradient for button*/
  --special: rgba(242, 104, 67, 1);
  --special-black: rgba(0, 0, 0, 0.07);
  --special-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --special-shadow: rgba(172, 16, 0, 0.64);
}

/*GLOBAL*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-green-main);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: var(--basic-white);
}

.button {
  background: var(--special-gradient);
  box-shadow: 0px 2px 2px var(--special-shadow);
  border-radius: 70px;
}

/*GRID*/

.page {
  height: 100%;
}

.grid-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
}

.container-center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

/*Breadcrumbs_CATALOG*/

.breadcrumbs-list {
  list-style: none;
  color: var(--basic-white);
}

.breadcrumbs-item {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-link {
  color: var(--basic-white);
}

/* Main navigation */

.main-header {
  display: grid;
  grid-template-columns: 154px 1fr min-content;
}

.main-header-logo {
  margin-top: 9px;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.site-nav:first-child {
  margin-left: 24px;
}

.site-nav-item {
  margin-top: 32px;
  margin-right: 32px;
}

.main-nav {
  display: grid;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.site-nav, .dropdown-nav-list {
  list-style: none;
}

.dropdown-nav-list {
  display: none;
}

.user-nav-list {
  min-width: 244px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-nav-item {
  margin-left: 30px;
  margin-top: 23px;
}

.user-nav-item {
  background-color: var(--basic-white-light);
}

.site-nav, .user-nav-item {
  color: var(--basic-white);
}

/*Main*/

.container {
  display: grid;
}

/*Slider*/

.slider-button {
  display: block;
  width: 278px;
  height: 63px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  padding-top: 10px;
  color: var(--basic-white);
  text-decoration: none;
  margin: 27px auto 40px auto;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-info {
  margin-top: 0px;
}

.slider-list li:not(:first-child) {
  display: none;
}

.slider-item {
  text-align: center;
  padding-top: 480px;
}

.slider-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: none;
  width: auto;
  height: auto;
  z-index: -1;
}

.slider-desc {
  width: 672px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  margin: -208px auto 0 auto;
}

/*Offer*/

.offer {
  display: flex;
}

.offer-item:first-child {
  margin-right: 26px;
  background-image: url(../img/raspberry-bg.jpg);
  background-repeat: no-repeat;
}

.offer-item {
  display: flex;
  flex-direction: column;
  background-image: url(../img/chocolate-bg.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 560px;
  height: 229px;
  margin-bottom: 40px;
}

.offer-item-title {
  margin: 16px 0 0 16px;
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white);
}

.offer-item-content {
  margin: 16px 0 0 16px;
  font-size: 18px;
  line-height: 22px;
}

.offer-item-title, .offer-item-content {
  font-weight: 700;
  color: var(--basic-white);
}

.offer-item-button {
  color: var(--basic-white);
  text-decoration: none;
  align-self: flex-end;
  margin: 42px 23px 0 0;
  width: 191px;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  padding-top: 13px;
  padding-left: 35px;
}

/*Bestseller*/

.bestseller {
  margin: 40px auto 40px auto;
}

.bestseller-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 267px);
  gap: 26px;
  margin: 0;
  padding: 0;
}

.bestseller-item-desc {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.bestseller-price {
  margin: -65px 0 33px 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.bestseller-price span {
  font-size: 30px;
  line-height: 35px;
}

.bestseller-item-button {
  display: none;
  color: var(--basic-white);
  text-decoration: none;
}

/*Catalog_section     -CATALOG*/

.breadcrumbs {
  display: grid;
  column-gap: 755px;
  grid-template-columns: 1fr 1fr;
}

.breadcrumbs-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 22px;
  margin: 22px 0 0 0;
  padding: 0;
}

.breadcrumbs-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.slider-info {
  margin-top: 0;
}

.slider-info-phone {
  display: flex;
}

.caption {
  order: 2;
  grid-column: 1 / -1;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--basic-white);
}

.form-catalog {
  margin-top: 29px;
  margin-bottom: 40px;
}

.catalog-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-price span {
  font-size: 30px;
  line-height: 35px;
}

.catalog-desc {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.catalog-button {
  text-decoration: none;
  color: var(--basic-white);
}

.control-list {
  display: grid;
  grid-template-rows: min-content;
  list-style: none;
}

.control-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

/*Features*/

.features {
  width: 1146px;
  height: 306px;
  background-image: url(../img/wafer-bg.png);
  background-repeat: no-repeat;
  color: var(--basic-black);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-title {
  width: 995px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 24px 0 0 20px;
}

.features-item {
  margin-left: 60px;
  width: 485px;
  font-size: 16px;
  line-height: 22px;
}

/*News*/

.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  height: 220px;
  margin: 40px auto;
}

.new-aside {
  display: flex;
  flex-flow: column wrap;
  background-image: url(../img/strawberry-bg.png);
  background-repeat: no-repeat;
}

.post-border {
  background-image: url(../img/post-index.png);
  background-repeat: no-repeat;
  padding: 5px;
}

.news-aside-title {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-black);
  font-weight: 500;
  margin-top: 23px;
  margin-left: 20px;
}

.news-aside-link {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 700;
  margin-left: 20px;
  margin-top: 15px;
  width: 287px;
}

.news-form {
  display: flex;
  flex-wrap: wrap;
  border-image: url(../img/post-index.png);
  border-width: 5px 6px;
  border-radius: 16px;
  background-color: var(--basic-gray-light);
}

.news-form-email {
  width: 368px;
  height: 44px;
  margin: 0 10px 25px 20px;
  padding-left: 14px;
}

.news-form-desc {
  width: 512px;
  margin: 29px 16px 47px 20px;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-gray);
}

.news-form-button {
  width: 130px;
  height: 44px;
  padding: 10px 18px;
  font-size: 18px;
  line-height: 24px;
}

/*Section-map*/

.section-map {
  position: relative;
}

.section-map-contacts {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  width: 303px;
  height: 306px;
  left: 870px;
  top: 62px;
  border-radius: 16px;
  background-color: var(--basic-white);
}

.section-map-desc {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-black);
  margin: 32px 123px 8px 25px;
}

.section-map-desc2 {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-black);
  
}

.section-map-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0 53px 30px 25px;
  font-style: normal;
}

.section-map-button {
  color: var(--basic-white);
  text-decoration: none;
}

/*Footer*/

.main-footer {
  display: flex;
  justify-content: space-between;
  margin: 18px 27px 25px 29px;
}

.footer-socials-list, .footer-links-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-links-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 327px;
  height: 27px;
}

.love {
  font-weight: 700;
}

.footer-links-item {
  font-size: 13px;
  line-height: 18px;
  margin-left: 22px;
}

.footer-link-copy {
  width: 190px;
  font-size: 12px;
  line-height: 18px;
}